
#user{
    height: 10%;
    /* background-image: linear-gradient(#F5DAFF99, #FFFFFF); */
    /* background-image: linear-gradient(to right, #FFFFFF , #F5DAFF99); */
    background: linear-gradient(269.13deg, rgba(245, 218, 255, 0.6) -1.6%, rgba(255, 255, 255, 0) 77.6%);

}

#rat_tag{
    height: 20%;
}



#details{
    height: 25%;
    text-align: left;
    padding: 2%;
}
#ques_detail{
    background: linear-gradient(180deg, rgba(214, 219, 239, 0.5) 0%, rgba(231, 215, 231, 0.5) 100%);

    /* background-image: linear-gradient(to right, #FFFFFF , #F5DAFF99); */
}

#unsolved{
    height:20%
}
#prob_desc{
    height: 20%;
    padding:2%
}
#level{
    background: linear-gradient(180deg, rgba(213, 219, 241, 0.5) 0%, rgba(245, 233, 254, 0.5) 100%);
    /* margin-right: 20px; */
    /* padding-left: 2%; */
}
#prob_rat{
    background: linear-gradient(180deg, rgba(213, 219, 241, 0.5) 0%, rgba(245, 233, 254, 0.5) 100%);
    /* padding-left: 2%; */
    /* margin-left: 2%; */

}