/* *{
    overflow-y: hidden;
} */
#navbar{
    background-image: linear-gradient(#E4E7F7, #F3EDFD);
    height: 100vh;
}
#user{
    height: 10%;
    /* background-image: linear-gradient(#F5DAFF99, #FFFFFF); */
    background-image: linear-gradient(to right, #FFFFFF , #F5DAFF99);
}

#rat_tag{
    height: 20%;
}

#level{
    height: 20%;
}

#details{
    height: 25%;
}

#unsolved{
    height:20%
}